<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.ss12.csun_mmg.peripheralmaze" >

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name=".MainMenu"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:label="@string/app_name"
            android:theme="@style/FullscreenTheme" >
        </activity>
        <activity
            android:name=".JoinGameMenu"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:label="@string/title_activity_connection_page"
            android:theme="@style/FullscreenTheme" >
        </activity>
        <activity
            android:name=".GameModeMenu"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:label="@string/title_activity_mode_selector"
            android:theme="@style/FullscreenTheme" >
        </activity>
        <activity
            android:name=".HostGameMenu"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:label="@string/title_activity_host_game_layout"
            android:theme="@style/FullscreenTheme" >
        </activity>
        <activity
            android:name=".MazeGame"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:label="@string/title_activity_maze_game"
            android:theme="@style/FullscreenTheme" >
        </activity>
        <activity
            android:name=".util.BoardTest"
            android:label="@string/title_activity_board_test" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>
